force-app/main/default/flows/nCino__nCino_PDE_Record_Trigger_Covenant_Compliance_Before_Save_V_2_0_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Covenant</name>
        <label>Update Covenant</label>
        <locationX>242</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Cov_Mgmt.LLC_BI__Covenant_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Cov_Mgmt.LLC_BI__Last_Evaluation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Evaluation_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Cov_Mgmt.LLC_BI__Last_Evaluation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Covenant_Mgmt_On_Edit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>nCino&apos;s general purpose Record-Trigger flows are designed to bucket interactions into distinct pillars.

1. On Create. These actions occur at the time the record is created.
2. Progression (if applicable). These actions occur when a core process on the record progresses forward or backward. These should be picklists (Example: Loan Stage).
3. Adhoc. All other actions which occur when distinct criteria are met.

A &quot;skip&quot; function is build into start conditions. This flow will not execute when the &quot;Exclude Flow&quot; permission set is assigned to the running user.</description>
        <name>Determine_Path</name>
        <label>Determine Path</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Status_change_from_Pending_to_Compliant_Waived_or_Exception</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Adhoc</defaultConnectorLabel>
        <rules>
            <name>On_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>On Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update the Covenant Mgmt Next Evaluation Date based on the frequency and the last scheduled evaluation date. And update the Covenant Mgmt Due Date based on the frequency and the last due date.
Migrated from workflow(s): Covenant Compliance Set Next Evaluation Date, Covenant Extension with Due Date</description>
        <name>Status_change_from_Pending_to_Compliant_Waived_or_Exception</name>
        <label>Status change from Pending to Compliant, Waived, or Exception?</label>
        <locationX>374</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Changed</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Evaluation_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Covenant</targetReference>
            </connector>
            <label>Status Changed</label>
        </rules>
    </decisions>
    <description>Managed flow handling various Covenant Compliance actions in After Save context. When a Covenant Compliance record is created or edited, the resulting actions update records related to the record which triggered the flow.</description>
    <environments>Default</environments>
    <formulas>
        <description>Reusable variable. Drives &quot;On Create&quot; pillar.</description>
        <name>forB_ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Formula used to determine the appropriate Due Date for the Covenant Mgmt record.</description>
        <name>forD_DueDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) +
FLOOR((MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}) / 12) +
IF(
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}, 12) = 0,
-1,
0
),
IF(
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}, 12) = 0,
12,
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c} , 12)
),
IF(
IF(
MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) = 12,
DATE(YEAR({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}), 12, 31),
DATE(YEAR({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}), MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) + 1, 1) - 1
) = {!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c},
CASE(
IF(
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}, 12) = 0,
12,
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c} , 12)
),
2, IF(
MOD(
YEAR({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) +
FLOOR((MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}) / 12) +
IF(
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}, 12) = 0,
-1,
0
),
4
) = 0,
29,
28
),
4,30,
6,30,
9,30,
11,30,
31
),
MIN(
DAY({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}),
CASE(
IF(
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}, 12) = 0,
12,
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c} , 12)
),
2, IF(
MOD(
YEAR({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) +
FLOOR((MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}) / 12) +
IF(
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Due_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}, 12) = 0,
-1,
0
),
4
) = 0,
29,
28
),
4,30,
6,30,
9,30,
11,30,
31
)
)
)
)</expression>
    </formulas>
    <formulas>
        <description>Formula used to determine the appropriate Next Evaluation Date for the Covenant Mgmt record.</description>
        <name>forD_NextEvaluationDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) +
FLOOR((MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}) / 12) +
IF(
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}, 12) = 0,
-1,
0
),
IF(
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}, 12) = 0,
12,
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}, 12)
),
IF(
IF(
MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) = 12,
DATE(YEAR({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}), 12, 31),
DATE(YEAR({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}), MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) + 1, 1) - 1
) = {!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c},
CASE(
IF(
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}, 12) = 0,
12,
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c} , 12)
),
2, IF(
MOD(
YEAR({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) +
FLOOR((MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}) / 12) +
IF(
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}, 12) = 0,
-1,
0
),
4
) = 0,
29,
28
),
4,30,
6,30,
9,30,
11,30,
31
),
MIN(
DAY({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}),
CASE(
IF(
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}, 12) = 0,
12,
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c} , 12)
),
2, IF(
MOD(
YEAR({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) +
FLOOR((MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}) / 12) +
IF(
MOD(MONTH({!Get_Related_Cov_Mgmt.LLC_BI__Next_Evaluation_Date__c}) + {!Get_Related_Cov_Mgmt.LLC_BI__Frequency_Months__c}, 12) = 0,
-1,
0
),
4
) = 0,
29,
28
),
4,30,
6,30,
9,30,
11,30,
31
)
)
)
)</expression>
    </formulas>
    <interviewLabel>nCino PDE - Record Trigger: Covenant Compliance After Save - V.2.0.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>nCino PDE - Record Trigger: Covenant Compliance After Save - V.2.0.0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Cov_Mgmt</name>
        <label>Get Related Cov Mgmt</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Path</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Covenant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Covenant2__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Next_Evaluation_Date__c</queriedFields>
        <queriedFields>LLC_BI__Last_Evaluation_Date__c</queriedFields>
        <queriedFields>LLC_BI__Last_Evaluation_Status__c</queriedFields>
        <queriedFields>LLC_BI__Frequency_Months__c</queriedFields>
        <queriedFields>LLC_BI__Frequency__c</queriedFields>
        <queriedFields>LLC_BI__Due_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>A DML element to update the Covenant Mgmt record related to the triggering Covenant Compliance record.</description>
        <name>Update_Related_Covenant_Mgmt_On_Edit</name>
        <label>Update Related Covenant Mgmt On Edit</label>
        <locationX>242</locationX>
        <locationY>815</locationY>
        <inputReference>Get_Related_Cov_Mgmt</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Cov_Mgmt</targetReference>
        </connector>
        <filterFormula>{!$Permission.LLC_BI__Exclude_Flow} = False</filterFormula>
        <object>LLC_BI__Covenant_Compliance2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
