force-app/main/default/flows/RegUS__DF1071_Loan_Reportable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determines whether any Loan Detail Record is associated with the current Loan.</description>
        <name>Does_Loan_Detail_Exist</name>
        <label>Does Loan Detail Exist?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Create_Loan_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Loan_Detail_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan_Detail__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Is_Loan_DF1071_Reportable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DF1071_Reportable_False</name>
        <label>Is DF1071 Reportable False?</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_DF1071_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan_Detail__r.LLC_BI__DF1071_Reportable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DF1071_Reportable_to_False</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DF1071_Reportable_True</name>
        <label>Is DF1071 Reportable True?</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Set_DF1071_Reportable_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DF1071_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan_Detail__r.LLC_BI__DF1071_Reportable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the DF1071 Reportable Field meets the desired criteria.</description>
        <name>Is_Loan_DF1071_Reportable</name>
        <label>Is Loan DF1071 Reportable?</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Is_DF1071_Reportable_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loan Is Not Reportable</defaultConnectorLabel>
        <rules>
            <name>Loan_Is_Reportable</name>
            <conditionLogic>1 AND 2 AND ((3 AND 4) OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__HMDA_Reportable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Account__r.AnnualRevenue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Net_New_Funds__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__isRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_DF1071_Reportable_True</targetReference>
            </connector>
            <label>Loan Is Reportable</label>
        </rules>
    </decisions>
    <description>This flow determines the DF1071 Reportable field for a loan.</description>
    <environments>Default</environments>
    <interviewLabel>DF1071 - Loan Reportable {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>DF1071 - Loan Reportable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates new loan detail in LLC_BI__Loan__c with value of current Record ID.</description>
        <name>Create_Loan_Detail</name>
        <label>Create Loan Detail</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_Loan_DF1071_Reportable</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Loan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Sets DF1071 Reportable to False</description>
        <name>Set_DF1071_Reportable_to_False</name>
        <label>Set DF1071 Reportable to False</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>LLC_BI__DF1071_Reportable__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.LLC_BI__Loan_Detail__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets DF1071 Reportable to True</description>
        <name>Set_DF1071_Reportable_to_True</name>
        <label>Set DF1071 Reportable to True</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>LLC_BI__DF1071_Reportable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.LLC_BI__Loan_Detail__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Loan_Detail_Exist</targetReference>
        </connector>
        <filterFormula>(ISNEW() || (ISCHANGED({!$Record.LLC_BI__Net_New_Funds__c}) || ISCHANGED({!$Record.LLC_BI__HMDA_Reportable__c}))) &amp;&amp; 
(
NOT({!$Record.LLC_BI__Is_Modification__c}) &amp;&amp;
(NOT({!$Record.LLC_BI__isRenewal__c}) || ({!$Record.LLC_BI__isRenewal__c} &amp;&amp; 
(((ISNULL({!$Record.LLC_BI__Net_New_Funds__c}) || {!$Record.LLC_BI__Net_New_Funds__c} &lt;= 0) &amp;&amp; {!$Record__Prior.LLC_BI__Net_New_Funds__c} &gt; 0) || (ISNULL({!$Record__Prior.LLC_BI__Net_New_Funds__c}) || {!$Record__Prior.LLC_BI__Net_New_Funds__c} &lt;= 0) &amp;&amp; {!$Record.LLC_BI__Net_New_Funds__c} &gt; 0))) &amp;&amp; 
NOT(ISPICKVAL({!$Record.LLC_BI__Stage__c}, &apos;Complete&apos;)) &amp;&amp;
NOT(CONTAINS({!$Record.LLC_BI__Product_Reference__r.LLC_BI__Product_Type__r.LLC_BI__Booked__r.LLC_BI__All_Values__c}, {!$Record.LLC_BI__Stage_And_Status__c}))
)</filterFormula>
        <object>LLC_BI__Loan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
