force-app/main/default/flows/RegUS__DF1071_Account_Loan_Reportable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_HMDA_False_Loan_ID_to_Collection</name>
        <label>Add HMDA False Loan ID to Collection</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>LoanIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Loans_with_HMDA_False.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Loans_with_HMDA_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Loan_Detail_Id_to_Collection</name>
        <label>Add Loan Detail Id to Collection</label>
        <locationX>622</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>LoanDetailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Created_Loan_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Created_Loan_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Loan_Detail_to_Collection</name>
        <label>Add Loan Detail to Collection</label>
        <locationX>1062</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>LoanDetailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Loans_with_Loan_Detail.LLC_BI__Loan_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Loans_with_Loan_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Loan_ID_to_Collection</name>
        <label>Add Loan ID to Collection</label>
        <locationX>1062</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>LoanIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Loans_with_Loan_Detail.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Loan_Detail_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Loan_to_Make_Loan_Detail_Collection</name>
        <label>Add Loan to Make Loan Detail Collection</label>
        <locationX>710</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>LoanDetailsToMake</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLoanDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_HMDA_False_Loan_ID_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Loan_Detail_Collection</name>
        <label>Add to Loan Detail Collection</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>LoanDetailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Loans_with_HMDA_False.LLC_BI__Loan_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_HMDA_False_Loan_ID_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Update_Collection</name>
        <label>Add to Update Collection</label>
        <locationX>512</locationX>
        <locationY>2555</locationY>
        <assignmentItems>
            <assignToReference>LoanDetailsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Retrieved_Loan_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Retrieved_Loan_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Loan_Detail_Details</name>
        <label>Create Loan Detail Details</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>NewLoanDetail.LLC_BI__Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Loans_with_HMDA_False.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Loan_to_Make_Loan_Detail_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ChangeReportableTo_to_False</name>
        <label>Set ChangeReportableTo to False</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ChangeReportableTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loans_with_Loan_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ChangeReportableTo_to_True</name>
        <label>Set ChangeReportableTo to True</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ChangeReportableTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loans_with_HMDA_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DF1071_Reportable</name>
        <label>Set DF1071 Reportable</label>
        <locationX>512</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Retrieved_Loan_Details.LLC_BI__DF1071_Reportable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeReportableTo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If the loan has a loan detail, save it for later to update.  If it does not have a loan detail, create one and update it later in the flow.</description>
        <name>Does_the_Loan_have_a_Loan_Detail</name>
        <label>Does the Loan have a Loan Detail?</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Create_Loan_Detail_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Loan_Detail_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Loans_with_HMDA_False.LLC_BI__Loan_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Loan_Detail_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Loans</name>
        <label>Found Loans?</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Loans_with_HMDA_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Loans_Found_HMDA_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loans_with_HMDA_False</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Loans Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Loans_Loan_Detail</name>
        <label>Found Loans?</label>
        <locationX>798</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Loans_with_Loan_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Loans_Found_Loan_Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loans_with_Loan_Detail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Loans Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Loan_Detail_Collection_already</name>
        <label>In Loan Detail Collection already?</label>
        <locationX>534</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Add_Loan_Detail_Id_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanDetailIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_Created_Loan_Details.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Created_Loan_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision checks whether the relationship&apos;s annual revenue meets the threshold for DF1071.</description>
        <name>Is_Annual_Revenue_less_than_5_million</name>
        <label>Is Annual Revenue less than 5 million?</label>
        <locationX>424</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Set_ChangeReportableTo_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Greater than 5 Million</defaultConnectorLabel>
        <rules>
            <name>Less_than_or_Equal_to_5_Million</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AnnualRevenue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ChangeReportableTo_to_True</targetReference>
            </connector>
            <label>Less than or Equal to 5 Million</label>
        </rules>
    </decisions>
    <description>This flow determines the DF1071 Reportable field for an account&apos;s loans.</description>
    <environments>Default</environments>
    <interviewLabel>DF1071 - Account Loan Reportable {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>DF1071 - Account Loan Reportable</label>
    <loops>
        <name>Loop_through_Created_Loan_Details</name>
        <label>Loop through Created Loan Details</label>
        <locationX>358</locationX>
        <locationY>1571</locationY>
        <collectionReference>LoanDetailsToMake</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>In_Loan_Detail_Collection_already</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Loan_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Loans_with_HMDA_False</name>
        <label>Loop through Loans with HMDA False</label>
        <locationX>358</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Loans_with_HMDA_False</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_the_Loan_have_a_Loan_Detail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Loan_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Loans_with_Loan_Detail</name>
        <label>Loop through Loans with Loan Detail</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Loans_with_Loan_Detail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Loan_ID_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Loan_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Retrieved_Loan_Details</name>
        <label>Loop through Retrieved Loan Details</label>
        <locationX>424</locationX>
        <locationY>2339</locationY>
        <collectionReference>Get_Loan_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_DF1071_Reportable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Loan_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Loan_Details</name>
        <label>Create Loan Details</label>
        <locationX>358</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Loop_through_Created_Loan_Details</targetReference>
        </connector>
        <inputReference>LoanDetailsToMake</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Loan_Details</name>
        <label>Get Loan Details</label>
        <locationX>424</locationX>
        <locationY>2231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Retrieved_Loan_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>LoanDetailIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>In</operator>
            <value>
                <elementReference>LoanIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loans_with_HMDA_False</name>
        <label>Get Loans with HMDA False</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Loans</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR (4 AND 5)) AND 6 AND 7 AND 8</filterLogic>
        <filters>
            <field>LLC_BI__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Modification__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__isRenewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__isRenewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Net_New_Funds__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Booked__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__HMDA_Reportable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loans_with_Loan_Detail</name>
        <label>Get Loans with Loan Detail</label>
        <locationX>798</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Loans_Loan_Detail</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR (4 AND 5)) AND 6 AND 7 AND 8</filterLogic>
        <filters>
            <field>LLC_BI__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Modification__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__isRenewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__isRenewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Net_New_Funds__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Booked__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan_Detail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_Details</name>
        <label>Update Loan Details</label>
        <locationX>424</locationX>
        <locationY>2747</locationY>
        <inputReference>LoanDetailsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>298</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Annual_Revenue_less_than_5_million</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AnnualRevenue</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Use this variable to determine what the DF1071 Reportable field should change to.</description>
        <name>ChangeReportableTo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanDetailIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanDetailsToMake</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan_Detail__c</objectType>
    </variables>
    <variables>
        <name>LoanDetailsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan_Detail__c</objectType>
    </variables>
    <variables>
        <name>LoanIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewLoanDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan_Detail__c</objectType>
    </variables>
</Flow>
